{% extends "base.html" %}
{% block title %} Cart Details {% endblock %}

{% load static %}

{%block body_block %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" href="{% static 'css/site.css' %}">

<div class="container">
  {% if cart.is_empty %}
  <h2>Your cart is empty</h2>
  {% else %}
  <table id='cart' class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Course</th>
        <th style="width:10%">Price</th>
        <th style="width:30%">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>

      {% for item in cart %}
        {% with course=item.course %}
      <tbody>
        <tr>

          <td data-th="Course">
            <div class="row">
              <div class="col-sm-3 hidden-xs">
                <a href="{% url 'courses:course_page' course_id=course.id  %}">
                <img src="{% if course.course_picture %}{{course.course_picture.url}} {% endif %}" style="width:150%" class="img-responsive">

              </div>
              <div class="col-sm-9">
                <h4 class="nomargin">{{item.name}}</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </td>

          <td data-th="Price">SAR {{item.price}}</td>
          <td data-th="Subtotal">SAR {{item.price}}</td>
          <td data-th="">
            <a href="{% url "cart:cart_remove" course.id %}">
              <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
            </a>
          </td>
        </tr>
      </tbody>
        {% endwith %}
      {% endfor %}
    <tfoot>
      <tr class="visible-xs">
        <td class="text-center"><strong>SAR {{cart.get_total_price}}</strong> </td>
      </tr>

      <tr>
        <td><a href="{% url 'courses:display_catalog' %}" class="btn btn-warning"><i class="fa fa-angle-left"></i>Continue Shopping</a></td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total: <br>SAR {{cart.get_total_price}}</strong> </td>
        <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i> </a> </td>
      </tr>
    </tfoot>
  </table>
  {% endif %}

{% endblock %}
