{% extends "base.html" %}
{% block title %} Instructors' Applications Page {% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1>Received Applications</h1>

  {% if user.is_superuser %}
    {% for application in applications %}
    <li> <a href="{% url "accounts:display_application" oid=application.id %}">{{application.profile}} ({{application.major}})</a> </li>
    {% endfor %}
  {% endif %}

  {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% endif %}
</div>
{% endblock %}
