.course-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 30px;
  text-align: center;
  font-family: arial;
}
.course-card-price {
  color: grey;
  font-size: 22px;
}

.course-card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #7540C2;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.course-card button:hover {
  opacity: 0.7;
}
.course-card img:hover {
  opacity: 0.7;
}
.row {
  float:none; /* disable the float */
  display: inline-block; /* make blocks inline-block */
  text-align: initial; /* restore text-align to default */
  grid-column-gap: 50px;
}

.sidebar {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 5;
  left: 0;
  background-color: #F7F9F9;
  overflow-x: hidden;
  padding-top: 16px;
  display:grid;
}
.sidebar category {
  text-align: center;

}
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  text-align: left;

  font-size: 20px;
  color: #7540C2;
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.second-navbar{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
}
.categories{
  width: 100%;

}
.categories button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
.categories button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.categories:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.categories button:hover {
  background-color: #3e8e41;
}
