{% extends "EduMe/base.html" %}
{% block title %} Instructor Page {% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1>Instructor Page</h1>
  <p>Please Login</p>
  <div class="InstructorLogin">
    <form class="InstructorLogin" action="{% url 'InstructorAuthentication:instructor_page' %}" method="post">
      {% csrf_token %}
      <label for="instructor_username">Email Address:</label>
      <input type="text" name="username" placeholder="Enter Email Address">

      <label for="instructor_password">Password:</label>
      <input type="password" name="password">

      <input type="submit" name="" value="Login">
    </form>

    <a href="{% url 'InstructorAuthentication:new_instructor' %}">
    <button type="button" name="register_btn">New Instructor</button>
    </a>


  </div>

</div>
{% endblock %}
