{% extends "base_catalog.html" %}
{% load static %}
{% block title %} Home Page {% endblock %}
<head>
  <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/
      swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript">
      var flashvars = {};
      var params = {movie:"{{content_item.file.url }}"};
      swfobject.embedSWF("flash/splayer.swf",
      "snow", "400", "320", "8.0.0",
      flashvars, params);</script>
</head>

{% block body_block %}
{% endblock %}

{% block content %}
<div id="snow">
  <p>a video</p>

</div>
<video width=600 controls>
<source src="{{path}}" type="video/mp4">

</video>


<div class="course-content">
  <h2>Contents</h2>
  <h4>{{content.course_section.section_name}}</h4>
    <ul>
      {% for content in contents %}
        {% if content.course_section == section%}
          <a href="{% url 'courses:content_play' content_id=content.id %}"><li>{{content.title}}</li></a>
        {% endif %}
      {% endfor %}
    </ul>
</div>

{% endblock %}
