{% extends "EduMe/base.html" %}
{% block title %} Instructor Page {% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1>Instructor Page</h1>
  <p>Please Login</p>
  <form method="POST">
    {{form.as_p}}
    {{ form.errors }}
    {{ form.non_field_errors }}
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Login">
  </form>
  <!-- <div class="InstructorLogin">


    <a href="{% url 'index' %}">
    <button type="button" name="register_btn">New Instructor</button>
    </a>

  </div> -->

</div>
{% endblock %}
