body{
  background-color: white;
}
.first{
  height: 800px;
  width: 1900px;
}
div.layer0{
  position: relative;
  background-color: Red;
  border: 10px;
  width: 50px;
  height: 60px;
  color: blue;
}
