<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./site.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper">
      <nav class="navbar navbar-expand-lg">

        <div class="navbar-brand">
          <a class="" href="">
            <img src="./logo28.png" width="185" height="35" alt="">
          </a>
        </div>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
          aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Notifications<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Account</a>
            </li>
          </ul>
        </div>

        <!-- <div class="nav-links-wrapper ml-auto" id="navbarSupportedContent15">
            <a class="nav-header-link" href="#">Notifications<span class="sr-only">(current)</span></a>
            <a class="nav-header-link" href="#">My Cart</a>
            <a class="nav-header-link" href="#">My Courses</a>
            <a class="nav-header-link" href="#">My Account</a>
        </div> -->
      </nav>

        <!-- The Header Body (How It Works) -->
      <div class="content-wrap">
        <header class="header-body">

          <div class="header-body-post-wrapper">

            <!-- header left post -->
            <!-- <div class="header-post-left-wrapper">

            </div> -->
            <!-- header right post -->
            <div class="header-post-right-wrapper">
              <form class="header-login-form" action="index.html" method="post">
                <div class="member-features text-center">
                  <h6>To Access Our FREE Courses</h6>
                </div>

                <h2 class="login-text text-center">Login</h2>



                <!-- <div class="email-wrap text-center">
                  <input class="email-input" type="text" name="email" value="Email">
                </div> -->
                <div class="email-wrap">
                  <input type="email" class="email-input" id="email" placeholder="Email address" required="" />
                  <label for="name" class="email-label">Email Address</label>
                </div>

                <!-- <div class="password-wrap text-center">
                  <input class="password-input" type="password" name="password" value="Password">
                </div> -->
                <div class="password-wrap">
                  <input type="password" class="password-input" id="password" placeholder="Password" required="" />
                  <label for="name" class="password-label">Password</label>
                </div>

                <div class="login-forgot text-center">
                  <span>Forgot</span>
                  <a class="button-text" href="#">&nbspUsername / Password</a>
                </div>
                <div class="create-account-wrap text-center">
                  <a class="button-text" href="#">Create new Account</a>
                </div>
              </form>
            </div>

          </div>
        </header>

        <!-- The End of Header Section -->

        <!-- Homepage Content  -->
        <div class="homepage-content ">
          <div class="content text-center">
            <h3 class="content-h3">Available Courses</h1>
          </div>
          <div class="course-wrapper text-center">
            <div class="course-card">
              <h3>Course A</h3>
            </div>
          </div>
        </div>


      </div>


      <!-- The Footer Section -->
      <footer class="footer">
        <div class="footer-section">
          <div class="footer-wrap">
            <div class="footer-left">
              <div class="footer-left-component">
                <h6>Subscribe for exclusive offers</h6>
                <p>To receive exclusive offer on our products type your email</p>
                <input type="email" name="" value="Enter Email">
                <input class="email-subscribe btn btn-primary" type="submit" value="Subscribe">

              </div>

            </div>
            <div class="footer-right text-center">
              <div class="footer-right-left text-left">
                <h6>About Us</h6>
                <h6>Contact Us</h6>
                <h6>Policies</h6>
              </div>
              <div class="footer-right-right-wrapper text-left">
                <h6>Our Courses</h6>
                <h6>Our Blogs</h6>
                <h6>Terms and Conditions</h6>

              </div>

            </div>
          </div>

        </div>

        <!-- The Footer Bottom Section -->
        <div class="footer-bottom">
          <!-- The Footer Brand -->
          <div class="footer-bottom-left ">
            <div class="footer-bottom-left-wrapper">
              <a class="footer-logo text-right" href="">
                <img src="./logo32.png" width="109" height="20" alt="">
              </a>
              <span class="footer-copyright"> &copy; <script>document.write(new Date().getFullYear())</script> CoursaTech. All Rights Reserved</span>

            </div>
          </div>
          <div class="footer-bottom-right">
            <div class="social-media-links">

            </div>
          </div>


          <!-- The Footer Links Wrapper -->
          <div class="footer-social-links">
            <div class="footer-links">


            </div>

          </div>
        </div>
      </footer>


    </div>
    <!-- The Header Section  -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>


        <!-- <nav class="navbar-footer text-center">
          <div class="nav-footer-links-wrapper">
              <a class="nav-footer-link " href="#">Software Development</a>

              <a class="nav-footer-link" href="#">Networking</a>

              <a class="nav-footer-link" href="#">Visual Arts</a>

              <a class="nav-footer-link" href="#">Programming</a>
          </div>
        </nav> -->
