{% extends "base.html" %}
{% block title %} Instructors' Applications Page {% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1>My Courses</h1>

  {% if user.profile.is_instructor %}
    {% for course in courses %}
    <li><a href="{% url "courses:edit_course" oid=course.id %}">{{course.course_title}}</a></li>
    {% endfor %}
    <a href="{% url 'courses:create_course' %}">New Course</a>
  {% endif %}

  {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% endif %}
</div>
{% endblock %}
