{% extends "base.html" %}
{% block title %} Create Section Page {% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1>  </h1>
  {% if user.profile.is_instructor %}

    <form method="POST" enctype='multipart/form-data'>
      {{section_form.as_p}}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="Save">
    </form>
    
  {% endif %}

    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}

{% endblock %}
