{% extends "base.html" %}
{% block title %} Content Page {% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1> Section Name: {{section.section_name}} </h1>
  {% if request.user.is_authenticated %}
    {% if user.profile.is_instructor %}

    <form method="POST" enctype='multipart/form-data'>
        {{content_form.as_p}}
        {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="Save">
    </form>
    {% endif %}
  {% endif %}

    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}

{% endblock %}
