{% extends "base.html" %}
{% block title %} Course Edit Page {% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1>Edit Course Info</h1>
  <form method="POST" enctype='multipart/form-data'>
    {{edit_course_form.as_p}}
    {% csrf_token %}
    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}
    <a href="{% url 'courses:create_section' course_id=course.id %}">Create a Section</a>
    <input type="submit" class="btn btn-primary" value="Save">
  </form>
</div>

<div class="jumbotron">
  <h1>Course Sections</h1>
  {% for section in sections %}
  <li><a href="{% url "courses:edit_section" section_id=section.id %}">{{section.section_name}}</a></li>
  {% endfor %}
</div>

{% endblock %}
