{% extends "base.html" %}
{% block title %} Edit Content Page {% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1>  </h1>

    <form method="POST" enctype='multipart/form-data'>
      {{edit_content_form.as_p}}
        {% csrf_token %}
      <input type="submit" class="btn btn-primary" name='save' value="Save">
      <input type="submit" class="btn btn-primary" name= 'delete' value="Delete Section">
    </form>

    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}

{% endblock %}
